
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="btn-group">
      <app-cart-summary></app-cart-summary>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
</nav>
<div class="col">
  <div class="row">
    <div class="col-3">
      <app-category></app-category>
    </div>
    <div class="col-9">
      <app-product></app-product>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
